a {
    text-decoration: none;
    color: #0000EE;
}
a:visited {
    color:  #0000EE;
}
a:hover {
    text-decoration: underline;
}
.container { 
    width: 800px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto; // clearfix
}

.pokemon-status, .team-container, .pokemon-active {
    width: 250px;
    float: left;
}

.hp-bar {
    height: 20px;
    border: 2px solid black;
}
.hp-bar-fill {
    height: 100%;
    background-color: yellow;
}

.pokemon-active { 
    height: 30px;
    border: 1px solid blue; 
    margin-left: 1px;
    text-align: center;
    padding: 50px 0px 50px 0px;
    font-size: x-large;
}
.pokemon-active.ai {
    border-color: red;
}
.battle-log-container {
    text-align: center;
}

.user {
    color: blue
}
.ai {
    color: red;
}
.dead {
    text-decoration: line-through;
}

#pokemonSelection {
    display: none;
    font-weight: bold;
    font-size: 24px;
}
